@CHARSET "UTF-8";

#event-max {
width:100px;
}
.comment-textarea {
width:340px;
resize:none;
}
#update-btn-group {
display:none;
}

.event-table tbody tr td img {
width:40px;
}

.meeetlet-info p {
font-size:10px;
}

.modal .modal-body img {
width:40px;
}

#back-modal{
width:0px;
}

#arrange-table-base {
height:200px;
overflow:scroll;
}

.popover h3 {
font-size:10px;
}