<p>
  <b>Name:</b>
  <%= city.name %>
</p>
 
<p>
  <b>Yomi:</b>
  <%= city.yomi %>
</p>

<p>
  <%= link_to 'Destroy City', [city.prefecture, city],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>