@CHARSET "UTF-8";

.news-date {
color:#808080;
}
.event-table tbody tr td img {
width:40px;
}

.meeetlet-info p {
font-size:10px;
}

.modal .modal-body img {
width:40px;
}

#back-modal{
width:0px;
}

#arrange-table-base {
height:200px;
overflow:scroll;
}

#arrange-reply-comment {
width:340px;
resize:none;
}

.popover h3 {
font-size:10px;
}

.both-padding {
padding-left:10px;
padding-right:10px;
}

.gray-comment {
color:gray;
font-style:italic;
}

.skyback {
background:dodgerblue;
color:white;
}
