<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>meeetlet</title>

<!--
	<script src="assets/services.js"></script>
	<script src="assets/apiTest.js"></script>
-->
	
</head>

<body>
	<h2>REST APIs</h2>
	<a href="/api/v1/auths">login</a><p>
	<div class="me">me:</div><p>
	<div class="friends">friends:</div><p>
	<a id="test1" href="#">Create/Get news</a><p>
	<a id="test2" href="#">Create events</a><p>
	<a id="test3" href="#">Show own events</a><p>
	<a id="test4" href="#">Delete own events</a><p>
	<a id="logout" href="#">logout</a><p>
</body>
</html>
