<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>meeetlet!</title>
    <meta name="description" content="meeetlet! main page. with bootstrap">
    <meta name="author" content="Kats Fukui">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
	<!--
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
	-->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
	<!--
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/css/jquery-ui-1.8.17.custom.css" rel="stylesheet">
	-->
    <link href="assets/main.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="i-bar"></span>
            <span class="i-bar"></span>
            <span class="i-bar"></span>
          </a>
          <a class="brand" href="#">meeetlet!</a>
          <div class="nav-collapse">
			<ul class="nav pull-right">
			  <li class="active"><a href="#"><i class="icon-envelope icon-white"></i>お誘い掲示板</a></li>
			  <li class="dropdown" id="create-menu">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#create-menu">
			      <i class="icon-pencil icon-white"></i>
			      イベント作成
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			      <li><a href="createInvite.html">お誘いイベント</a></li>
			      <li><a href="createArrange.html">調整イベント</a></li>
			    </ul>
			  </li>
			  <li class="dropdown" id="my-menu">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#my-menu">
			      <i class="icon-pencil icon-white"></i>
			      Myイベント
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			      <li><a href="attendEvent.html">参加予定のイベント</a></li>
			      <li><a href="absentEvent.html">欠席予定のイベント</a></li>
			      <li><a href="myEvent.html">主催するイベント</a></li>
			    </ul>
			  </li>
			  <li class="dropdown" id="usermenu">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#usermenu">
			      <i class="icon-user icon-white"></i>
			      <span id="myname"></span>
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			      <li><a href="#" id="logout">ログアウト</a></li>
			    </ul>
			  </li>
			</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Example row of columns -->
      <div class="row">
        <div class="span10">
          <div>
            <table class="table table-striped table-condensed event-table">
              <thead>
                <tr><th>招待状</th><th></th><th></th><th>主催者</th><th></th></tr>
              </thead>
              <tbody id="event-table">
                <tr>
                  <td>読み込み中・・・</td>
                  <td></td>
                  <td></td>
                  <td></td>
				  <td></td>
                </tr>
              </tbody>
            </table>
          </div>		
        </div>
        <div class="span2">
          <div class="well meeetlet-info">
            <h4>お知らせ</h4>
            <hr />
			<div id="news">
			</div>
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; meeetlet! 2012 All rights reserved.</p>
      </footer>

    </div> <!-- /container -->

	<!-- modal -->
	<div class="modal hide fade" id="invite-modal">
	  <div class="modal-header">
	    <a class="close close-back" data-dismiss="modal">x</a>
	    <h3 id="invite-modal-title"></h3>
	  </div>
	  <div class="modal-body">
	    <dl>
	      <dt>日程</dt><dd id="invite-modal-date"></dd>
	      <dt>最寄り駅</dt><dd id="invite-modal-station"></dd>
		  <dt>ジャンル</dt><dd id="invite-modal-category"></dd>
	      <dt>店</dt><dd id="invite-modal-restaurant"></dd>
	      <dt>主催者</dt><dd id="invite-modal-owner"></dd>
	      <dt>最大参加人数</dt><dd id="invite-modal-max"></dd>
	      <dt>コメント</dt><dd id="invite-modal-comment"></dd>
	    </dl>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn close-back" data-dismiss="modal">閉じる</a>
	    <a href="#" class="btn btn-danger">欠席する</a>
	    <a href="#" class="btn btn-primary">参加する</a>
	  </div>
	</div>
	
	<div class="modal hide fade" id="arrange-modal">
	  <div class="modal-header">
	    <a class="close close-back" data-dismiss="modal">x</a>
	    <h3 id="arrange-modal-title"></h3>
	  </div>
	  <div class="modal-body">
	     <dl>
	      <dt>候補日程</dt><dd id="arrange-modal-date"></dd>
		  <dt>候補場所</dt><dd id="arrange-modal-place"></dd>
	      <dt>候補駅</dt><dd id="arrange-modal-station"></dd>
	      <dt>候補ジャンル</dt><dd id="arrange-modal-category"></dd>
	      <dt>候補店</dt><dd id="arrange-modal-restaurant"></dd>
	      <dt>主催者</dt><dd id="arrange-modal-owner"></dd>
	      <dt>最大参加人数</dt><dd id="arrange-modal-max"></dd>
	      <dt>コメント</dt><dd id="arrange-modal-comment"></dd>
	    </dl>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn close-back" data-dismiss="modal">閉じる</a>
	    <a href="#" class="btn btn-danger">欠席する</a>
	    <a href="#" class="btn btn-primary" id="arrange-btn">調整する</a>
	  </div>
	</div>
	
	<div class="modal hide fade" id="public-modal">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">x</a>
	    <h3>NoSQL勉強会</h3>
	  </div>
	  <div class="modal-body">
	    <dl>
	      <dt>日程</dt><dd>2012年6月21日</dd>
	      <dt>場所</dt><dd>東京</dd>
	      <dt>最寄り駅</dt><dd>豊洲駅</dd>
	      <dt>店</dt><dd>未定</dd>
	      <dt>主催者</dt><dd>Kats</dd>
	      <dt>最大参加人数</dt><dd>50人</dd>
	      <dt>コメント</dt><dd>NoSQLに興味ある方、どなたでも参加してください。当方、初心者です。会場は未定ですが、現在調整中です。</dd>
	    </dl>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">閉じる</a>
	    <a href="#" class="btn btn-primary">参加する</a>
	  </div>
	</div>
	
	<div class="modal hide fade" id="invite-friends-modal">
	  <div class="modal-header">
	    <a class="close close-back" data-dismiss="modal">x</a>
	    <h3 id="invite-friends-modal-title">お誘い中の友達</h3>
	  </div>
	  <div class="modal-body">
	  	<table class="table">
	  		<tbody id="invite-friends-modal-body">
	  		</tbody>
	  	</table>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn close-back" data-dismiss="modal">閉じる</a>
	    <a href="#" class="btn btn-warning">招待する</a>
	  </div>
	</div>
	
	<div class="modal hide fade" id="arrange-friends-modal">
	  <div class="modal-header">
	    <a class="close close-back" data-dismiss="modal">x</a>
	    <h3>お誘い中の友達</h3>
	  </div>
	  <div class="modal-body">
	    <div class="accordion" id="arrange-friends-accordion">
	      <div class="accordion-group">
	        <div class="accordion-heading">
	          <a class="accordion-toggle" data-toggle="collapse" data-parent="#arrange-friends-accordion" data-target="#friend1" style="text-decoration:none">
	            <img src="assets/friend1.png" />
	            <span class="label">未回答</span>
	          </a>
	        </div>
		    <div id="friend1" class="accordion-body collapse">
		      <div class="accordion-inner">
              </div>
            </div>
          </div>
	      <div class="accordion-group">
	        <div class="accordion-heading">
	          <a class="accordion-toggle" data-toggle="collapse" data-parent="#arrange-friends-accordion" data-target="#friend2" href="#friends2" style="text-decoration:none">
	            <img src="assets/friend1.png" />
	            <span class="label label-success">参加</span>
	          </a>
	        </div>
		    <div id="friend2" class="accordion-body collapse">
		      <div class="accordion-inner">
		        <dl>
		          <dt>日程</dt>
		          <dd>5月12日, 5月13日, 5月14日</dd>
		          <dt>場所</dt>
		          <dd>東京</dd>
		          <dt>最寄り駅</dt>
		          <dd>東京</dd>
		          <dt>店</dt>
		          <dd>おまかせ</dd>
		          <dt>コメント</dt>
		          <dd>東京周辺がいいです。</dd>
		        </dl>
              </div>
            </div>
          </div>
	      <div class="accordion-group">
	        <div class="accordion-heading">
	          <a class="accordion-toggle" data-toggle="collapse" data-parent="#arrange-friends-accordion" data-target="#friend3" href="#friends3" style="text-decoration:none">
	            <img src="assets/friend1.png" />
	            <span class="label label-success">参加</span>
	          </a>
	        </div>
		    <div id="friend3" class="accordion-body collapse">
		      <div class="accordion-inner">
		        <dl>
		          <dt>日程</dt>
		          <dd>おまかせ</dd>
		          <dt>場所</dt>
		          <dd>東京</dd>
		          <dt>最寄り駅</dt>
		          <dd>おまかせ</dd>
		          <dt>店</dt>
		          <dd>おまかせ</dd>
		          <dt>コメント</dt>
		          <dd>とくに予定はないです。よろしくお願いします。</dd>
		        </dl>
              </div>
            </div>
          </div>
	      <div class="accordion-group">
	        <div class="accordion-heading">
	          <a class="accordion-toggle" data-toggle="collapse" data-parent="#arrange-friends-accordion" data-target="#friend4" href="#friends4" style="text-decoration:none">
	            <img src="assets/friend1.png" />
	            <span class="label label-success">参加</span>
	          </a>
	        </div>
		    <div id="friend4" class="accordion-body collapse">
		      <div class="accordion-inner">
	            <dl>
		          <dt>日程</dt>
		          <dd>5月12日</dd>
		          <dt>場所</dt>
		          <dd>東京</dd>
		          <dt>最寄り駅</dt>
		          <dd>おまかせ</dd>
		          <dt>店</dt>
		          <dd>おまかせ</dd>
		          <dt>コメント</dt>
		          <dd>12日以外は不可。</dd>
		        </dl>
              </div>
            </div>
          </div>
	      <div class="accordion-group">
	        <div class="accordion-heading">
	          <a class="accordion-toggle" data-toggle="collapse" data-parent="#arrange-friends-accordion" data-target="#friend5" href="#friends5" style="text-decoration:none">
	            <img src="assets/friend1.png" />
	            <span class="label label-important">欠席</span>
	          </a>
	        </div>
		    <div id="friend5" class="accordion-body collapse">
		      <div class="accordion-inner">
		        ごめんなさい、欠席です。
              </div>
            </div>
          </div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn close-back" data-dismiss="modal">閉じる</a>
	    <a href="#" class="btn btn-warning">招待する</a>
	  </div>
	</div>
	
	<div class="modal hide fade" id="public-friends-modal">
	  <div class="modal-header">
	    <a class="close close-back" data-dismiss="modal">x</a>
	    <h3>参加予定者</h3>
	  </div>
	  <div class="modal-body">
	    <p>
	      <img src="assets/friend1.png" />
  	      <span>参加ですー。</span>
	    </p>
	    <p>
	      <img src="assets/friend1.png" />
  	      <span>当方、参加したいと思います。</span>
	    </p>	    
	    <p>
	      <img src="assets/friend1.png" />
  	      <span>こういうのって、初めてですがよろしく</span>
	    </p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn close-back" data-dismiss="modal">閉じる</a>
	  </div>
	</div>

	<div class="modal hide fade" id="arrange-reply-modal">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">x</a>
	    <h3><span  id="arrange-reply-title"></span>の調整</h3>
	  </div>
	  <div class="modal-body">
	    <div class="tabbable">
	      <ul class="nav nav-tabs">
	        <li class="active"><a href="#cdate" data-toggle="tab">候補日選択</a></li>
	        <li><a href="#cstation" data-toggle="tab">候補駅選択</a></li>
	        <li><a href="#ccategory" data-toggle="tab">ジャンル選択</a></li>
	        <li><a href="#crestaurant" data-toggle="tab">お店候補</a></li>
			<li><a href="#ccomment" data-toggle="tab">コメント</a></li>
	      </ul>
	      <div class="tab-content">
	        <div class="tab-pane active" id="cdate">
	          <p>候補日：<span id="arrange-reply-date"></span>
	            <label class="checkbox pull-right">
	              <input type="checkbox" class="checkbox" id="date-anything" value="anything">おまかせ！
	            </label>
	          </p>
	          <hr/>
	          <div id="arrange-table-base">
  	            <table class="table table-striped">
  	              <thead>
  	                <tr><th>候補日</th><th>◯</th><th>✕</th></tr>
  	              </thead>
  	              <tbody id="arrange-reply-date-body">
  	              </tbody>
  	            </table>
	          </div>
	        </div>
	        <div class="tab-pane" id="cstation">
	          <p>候補駅：<span id="arrange-reply-station"></span>
		        <label class="checkbox pull-right">
	              <input type="checkbox" class="checkbox" id="station-anything" value="anything">おまかせ！
	            </label>
	          </p>
	          <hr/>
	          <div id="arrange-table-base">
  	            <table class="table table-striped">
  	              <thead>
  	                <tr><th>候補駅</th><th>◯</th><th>✕</th></tr>
  	              </thead>
  	              <tbody id="arrange-reply-station-body">
  	              </tbody>
  	            </table>
  	          </div>
	        </div>
	        <div class="tab-pane" id="ccategory">
	          <p>候補ジャンル：<span id="arrange-reply-category"></span>
	            <label class="checkbox pull-right">
	              <input type="checkbox" class="checkbox" id="category-anything" value="anything">おまかせ！
	            </label>
	          </p>
	          <hr/>
	          <div id="arrange-table-base">
  	            <table class="table table-striped">
  	              <thead>
  	                <tr><th>候補ジャンル</th><th>◯</th><th>✕</th></tr>
  	              </thead>
  	              <tbody id="arrange-reply-category-body">
  	              </tbody>
  	            </table>
  	          </div>
	        </div>
	        <div class="tab-pane" id="crestaurant">
	          <p>候補のお店：<span id="arrange-reply-restaurant"></span>
	            <label class="checkbox pull-right">
	              <input type="checkbox" class="checkbox" id="restaurant-anything" value="anything">おまかせ！
	            </label>
	          </p>
	          <div id="arrange-table-base">
	            <table class="table">
	              <tbody id="arrange-reply-restaurant-body">
	              </tbody>
	            </table>
				<hr />
				<form class="form-horizontal">
				  <div class="control-group">
				    <label class="control-label" for="restaurant1">オススメの店を追加</label>
				    <div class="controls">
				      <span class="uneditable-input gray-text" id="restaurant1"><i>右のボタンから選択してください</i></span>
				      <a href="#search-restaurant-modal" class="btn btn-info" data-toggle="modal">お店検索</a>
				    </div>
				  </div>
				</form>
  	          </div>
	        </div>
			<div class="tab-pane" id="ccomment">
				<textarea id="arrange-reply-comment" rows="4" cols="30" maxlength="100" style="resize:none;"></textarea>
			</div>
	      </div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" id="arrange-reply-cancel-btn">キャンセル</a>
	    <a href="#" class="btn btn-warning">確認</a>
	  </div>
	</div>

	<div class="modal hide fade" id="back-modal"></div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!--
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	-->
	<script src="assets/services.js"></script>
	<script src="assets/initData.js"></script>
    <script src="assets/main.js"></script>

  </body>
</html>
