* {
margin:0;
padding:0;
}

body {
font-family: "MS ゴシック",Arial;
}

.base{
}

.hbase{
width:100%;
background:dodgerblue;
}

.header{
margin:0 auto;
width:1000px;
height:170px;
background:dodgerblue;
}

.titleImg{
width:600px;
height:130px;
padding-top:20px;
float:left;
}

.loginCanvas{
margin-left:800px;
padding-top:100px;
min-width:200px;
height:50px;
}

.login{
}

.mbase{
width:100%;
background:whitesmoke;
clear:both;
}

.main{
margin:0 auto;
width:1000px;
height:480px;
background:whitesmoke;
top:310px;
}

.description{
margin:0 auto;
padding-top:10px;
padding-bottom:50px;
width:800px;
}

.imageCanvas{
position:relative;
}

.descImg{
background:blue;
color:white;
width:300px;
height:300px;
border-radius:20px;
}

#di1{
position:absoute;
top:0px;
left:0;
}

#di2{
position:absolute;
margin:0 350px;
top:0px;
}

#di3{
position:absolute;
top:0px;
right:0;
}

.fbase{
width:100%;
background:dodgerblue;
clear:both;
}

.footer{
margin:0 auto;
width:1000px;
top:350px;
background:dodgerblue;
padding-top:2px;
padding-bottom:2px;
clear:both;
}

.copyright{
text-align:center;
color:white;
font-size:1
4px;
}

.meeetlet{
color:dodgerblue;
font-family:Impact;
}