* {
margin:0;
padding:0;
}

.leftmargin{
margin-left:20px;
}

body {
font-family: "MS ゴシック",Arial;
font-size:10px;
}

.base{
}

.hbase{
width:100%;
background:dodgerblue;
}

.header{
margin:0 auto;
width:1000px;
height:100px;
background:dodgerblue;
}

.titleImg{
margin-top:10px;
width:170px;
height:70px;
float:left;
}

.mbase{
width:100%;
background:whitesmoke;
clear:both;
}

.main{
margin:0 auto;
padding-top:10px;
width:1000px;
height:480px;
background:whitesmoke;
top:310px;
}

.selector{
background:papayawhip;
margin-bottom:10px;
padding-top:4px;
padding-bottom:4px;
border-radius:4px;
}

.eventtable{
background:white;
padding-top: 8px;
width:1000px;
height:384px;
border-radius:4px;
}

.eventitem{
background:white;
margin:0px auto 8px;
width:980px;
height:80px;
border-radius:10px;
border: ridge 4px darkslateblue;
}

.page{
margin-top:10px;
float:right;
}

.pagebutton{
margin-right:10px;
}

.fbase{
width:100%;
background:dodgerblue;
clear:both;
}

.footer{
margin:0 auto;
width:1000px;
background:dodgerblue;
padding-top:2px;
padding-bottom:2px;
clear:both;
}

.copyright{
text-align:center;
color:white;
font-size:14px;
}

.meeetlet{
color:dodgerblue;
font-family:Impact;
}