* {
margin:0;
padding:0;
}

.leftmargin{
margin-left:20px;
}

body {
font-family: "MS ゴシック",Arial;
font-size:10px;
}

.base{
clear:both;
}

.hbase{
width:100%;
background:dodgerblue;
}

.header{
position:relative;
margin:0 auto;
width:1000px;
height:100px;
background:dodgerblue;
}

.titleImg{
margin-top:10px;
width:170px;
height:70px;
float:left;
}

.titlemenu{
position:absolute;
right:0px;
bottom:10px;
z-index:2;
}
#umenu {
	margin:0;
	padding:0;}
#umenu li {
	float:left;
	list-style:none;
	font:12px Tahoma, Arial}
#umenu li a {
    display:block;
    background:dodgerblue;
    padding:5px 12px;
    text-decoration: none;
    border-right: 1px solid dodgerblue;
    width: 70px;
    color: azure;
    white-space: nowrap}
#umenu li a:hover {
    color: royalblue}
#umenu li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid cornflowerblue}
#umenu li ul li {
    float: none;
    display: inline}
#umenu li ul li a {
    width: auto;
    color:blue;
    background: lightsteelblue}
#umenu li ul li a:hover{
	color: white;
    background: cornflowerblue}

.mbase{
width:100%;
background:whitesmoke;
clear:both;
}

.main{
margin:0 auto;
padding-top:10px;
width:1000px;
height:600px;
background:whitesmoke;
top:310px;
}

.newPalette{
position:relative;
width:400px;
float:left;
}

.paletteTopMargin{
margin-top:10px;
}

.paletteDesc{
font-size:20px;
}

.newTitle{
position:relative;
}

#titleLabel{
}

#titleText{
position:absolute;
left:100px;
width:290px;
}

.newDate{
position:relative;
}

#dateCalLabel{
}
#dateCal{
position:absolute;
left:100px;
font-size:8px;
}

.newCategory{
position:relative;
}

#category{
position:absolute;
left:100px;
}

.newPref{
position:relative;
}

#prefecture{
position:absolute;
left:100px;
}

.newVenue{
position:relative;
}

#venue{
position:absolute;
left:100px;
width:290px;
}

.newMax{
position:relative;
}

#max{
position:absolute;
left:100px;
width:60px;
}

.newMin{
position:relative;
}

#min{
position:absolute;
left:100px;
width:60px;
}

.newComment{
position:relative;
height:60px;
}

#comment{
position:absolute;
left:100px;
resize:none;
}

.newInvite{
position:relative;
width:400px;
float:left;
}

.inviteDesc {
position:relative;
font-size:20px;
}

.friendSearch{
position:relative;
margin-left:25px;
}

.friendList{
position:relative;
width:315px;
height:330px;
margin-top:10px;
margin-left:25px;
border:1px solid steelblue;
}

.friendRow{
height:200px;
overflow-y:scroll;
}

.fimg{
width:50px;
heigth:50px;
z-index:100;
}

.inviteList{
background:cornsilk;
position:absolute;
width:315px;
height:100px;
bottom:0px;
border-top:1px solid gray;
overflow-x:scroll;
}
#initSelectButton{
margin-top:10px;
margin-right:58px;
float:right;
}

.newSubmit{

}

.submitDesc{
font-size:20px;
}

.submitImg{
width:200px;
}

.fbase{
width:100%;
background:dodgerblue;
clear:both;
}

.footer{
margin:0 auto;
width:1000px;
background:dodgerblue;
padding-top:2px;
padding-bottom:2px;
clear:both;
}

.copyright{
text-align:center;
color:white;
font-size:14px;
}

.meeetlet{
color:dodgerblue;
font-family:Impact;
}